body{
    background-color: #D9D4D0;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: black solid 3px;
    border-radius: 15px;
}

a {
    color:#3C4473
}

a:hover {
    color: #A62E38;
    text-decoration: none;
}

#container{
    background-color: #BF9B9B;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #3C4473;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 30px;
    border-bottom: #394273 solid 3px;
}

header h1 {
    font-size: 50px;
    color: #394273;
}

nav {
    text-align: center;
    border-bottom: #394273 solid 3px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #394273;
    color: #D9D4D0;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 8px;
}

nav li a:hover {
    color: #A62E38;
    background-color: #D9D4D0;
}

main h2{
    text-align: center;
    color: #3C4473;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.multi_col{
    display: flex;
}

section, aside {
    margin: 20px;
    padding: 20px;
    
}
section {
    width: 75%;
}

footer {
    padding: 40px 0;
    text-align: center;
}
#themes {
    text-align: center;
}

main.multi_col section aside img {
    width: 100%;
    height: 100%;
}